body {
  font-family: 'Courier Prime', monospace;
    background: #181719;
    color: #FFFFFF;
  }
  a{
    display: inline-block;
    text-decoration: none;
  }
.fas{
  color: #FFFFFF;
}
.container{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em 0;
}
.warpper{
  display: grid;
  grid-template-rows: auto 1fr auto;
}
/* header */

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .navigation{
  display: flex;
}
header .container .logo{
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  padding:.2em;
  border: 1px solid #fff;
}
header .container .navigation .toggle{
  display: none;
}
header .container .navigation .navbar li{
  display: inline-block;
  font-size: 1rem;
  margin-right: 10px;
  cursor: pointer;
  padding:.5em;
}
/* .active{
  background: #F45331;
  color: #fff;
} */
header .container .navigation .navbar li:hover{
  border-bottom: 2px solid #f45331;
  color: #fff;
}

main .container{
  display: flex;
  padding: 2em 0;
}
main .container .intro--text{
  flex: 1;
  padding:20px 0;
}

 main .container .intro--image{
   position: relative;
  flex: 2;
  text-align:right;
  padding: 20px;
}
main .container .intro-image__banner{
  width: 90%;
  height:400px;
}
main .container .intro--text .intro--text__headline{
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 1em;
}
main .container .intro--text .intro--text__description{
  width: 250px;
  font-size: 14px;
  line-height: 1.5;
}

main .container .intro--text__link{
  color: #fff;
  margin-top: 2em;
}
main .intro--image .profile{
  display: flex;
 text-align: left;
  padding: 5px;
  width: 300px;
  background: #181719;
  position: absolute;
  bottom: -30px;
  right: 60px;
  }
  main .intro--image .profile .profile-image{
    width: 60px;
    height: 60px;
    border-radius:50px;
  }
 figure{
   padding: .5em;
 }
  figure div{
    display: flex;
    align-items: center;
    padding: .5em;
  }
  figure div p{
    margin-left: .5em;
    font-size: 16px;
    align-self: flex-start;
  }

  figure .caption{
    font-size: 16px;
    font-weight: 600;
    padding: 0 .5em;
    margin-left: 40px;
  }

  .profile .small{
    font-size: 12px;
  }